.head {

}
.icon {
	height:62px;
	width:62px;
}

.picklist {
	width: 90px;
	font-size: 50px;
	margin-left: 10px;
}

.pickrace {
	width: 220px;
	font-size: 20px;
	margin-left:10px;
}

.diceRoll {
	display:inline;
	margin-left: 50px;
	font-size: 50px;
}

#img_right {
	margin-left: 100px;
}
