.picklist {
	width: 65px;
	font-size: 45px;
	margin-left: 10px;
}

.pickrace {
	width: 220px;
	font-size: 20px;
	margin-left:10px;
}

.diceRoll {
	display:inline;
	margin-left: 20px;
	font-size: 30px;
	margin-bottom: 10px;
}

p {
  display:inline;
  font-size:30px;
}

body {
  height:795px;
  width:1224px;
  background-position:center;
}
